{#
/**
 * @file kg_entity.html.twig
 * Default theme implementation to present Kg entity data.
 *
 * This template is used when viewing Kg entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_kg_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('kg_entity') }}>
  {% if content %}
    {{- content -}}


  {% endif %}
</div>
